
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Client Credentials sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Client Credentials sample</h1>

  <p>This is the Access Token that was used:</p>
  <pre th:text="${access_token}" class="access_token"></pre>
  <pre th:text="${rmq}" class="access_token"></pre>


  <h2>RabbitMQ SI connection status</h2>
  <pre th:text="${connection_status}" class="access_token"></pre>
  <pre th:text="${message}" class="access_token"></pre>

</body>
</html>
