
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SSO RabbitMQ example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>SSO RabbitMQ Example</h2>

  <p>Connected to host:</p>
  <pre th:text="${rmq}"></pre>

  <h3>Connection Status</h3>
  <pre th:text="${connection_status}"></pre>

  <h3>Message sent</h3>
  <pre th:text="${message_sent}"></pre>

  <h3>Message received</h3>
  <pre th:text="${message_received}"></pre>

  <h3>Message match?</h3>
  <pre th:text="${messages_match}"></pre>

  <h3>Token</h3>
  <pre th:text="${token}"></pre>

  <h3>Token valid for (second)</h3>
  <pre th:text="${timeBeforeExpiration}"></pre>

</body>
</html>
